html, body {
    background-color: #b46f81;
    margin: 0;
    padding: 0;
}
.container{
    background-color: rgb(242, 247, 247);
    padding: 20px;
    margin: 30px;
}
.img{
    width: 100%;
}
.button{
    display: inline-block;
    padding: 5px;
    background-color: #41c2d8;
    color: white;
    text-decoration: none;
    display: inline;
    border-radius: 5px;
}
.main{
    max-width: 800px;
    margin: 0 auto;
}

.header{
    background-color: rgb(61, 57, 57);
}
.top{
    color: rgb(238, 244, 246);
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
}
.footer{
    background-color: rgb(61, 57, 57);
    color: rgb(238, 244, 246);
    text-align: center;
    padding: 35px;
}
